<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <startup>
            
        </startup>
        <system.serviceModel>
                <bindings>
                        <basicHttpBinding>
                                <binding name="QueryServiceSoap" />
                        </basicHttpBinding>
                </bindings>
                <client>
                        <endpoint address="http://192.168.4.200/AMES/Service/QueryService.asmx" binding="basicHttpBinding" bindingConfiguration="QueryServiceSoap" contract="QueryService.QueryServiceSoap" name="QueryServiceSoap" />
                </client>
        </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>